<!-- Content-Layout Component HTML -->
<main class="bg-mirage-gray rounded-3xl border-1 w-full">
  <div class="grid grid-cols-3"> <!-- Container for Navigation Header and Navigation Bar-->
    <!-- Navigation Header -->
    <div>
      <h2 class="text-4xl pl-10 pt-10 pr-10 pb-3 col-span-1">{{currentTab}}</h2>
      <div class="w-2/12 h-2 ml-10 mb-3.5 rounded-full bg-cyan-500"></div>
    </div>

    <!-- Navigation Bar Component-->
    <app-navigation (navigationEvent)="currentTab=$event" class="col-span-2"></app-navigation>
    <div class="flex flex-col ml-12">

  </div>
  </div>
  <!-- Router Views Go Here -->
  <router-outlet></router-outlet>
</main>
