<!-- About Component HTML -->
<div> <!-- Outer Container -->
  <div class="pl-6 pr-6 pb-6 pt-3 ml-4"> <!-- Description About Me -->
    <h4 class="text-sm leading-6">
      I'm an enthusiastic and motivated <strong>Software Engineer</strong> from the Philippines with a
      solid foundation in Computer Science and a hands-on background in crafting robust
      and cutting-edge solutions. I firmly believe in the transformative power of technology,
      and my journey in the realm of <strong>Computer Science</strong> has been guided by an unyielding fascination
      for problem-solving and a strong desire to create positive impacts through software.

      <br><br>

      Embracing every opportunity to learn and grow, I am committed to honing my craft and staying ahead
      of the latest developments in the software industry. With a focus on teamwork, creative thinking,
      and a determination to excel, I am thrilled to embark on this journey as a Junior Software Engineer.

    </h4>
  </div>

  <div class="pl-6 pr-6 pb-6 pt-3 ml-4"> <!-- Current Pursuits Header -->
    <h2 class="text-3xl font-semibold">Current Pursuits</h2>
  </div>
  <div class="pl-6 pr-6 pb-6 pt-3 ml-4 flex flex-row"> <!-- Container for Current Pursuits -->
    <!-- Full-Stack Development Description -->
    <div class="flex flex-row w-6/12 p-3 bg-card-container border border-1 rounded-lg shadow hover:bg-gray-100 dark:hover:bg-gray-700">
      <div class="-ml-6">
        <img ngSrc="/assets/images/about-me_full_stack_development.gif" width="600" height="600">
      </div>
      <div>
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Full-Stack Development</h5>
      <p class="text-sm leading-6 text-gray-700 dark:text-gray-400">
        Building robust and scalable web applications with seamless integration of
        front-end and back-end technologies to deliver an exceptional user experience.
      </p>
      </div>
    </div>

    <!-- Software Development Description -->
    <div class="flex flex-row w-6/12 ml-10 p-3 bg-card-container border border-1 rounded-lg shadow hover:bg-gray-100 dark:hover:bg-gray-700">
      <div class="-ml-6">
        <img ngSrc="/assets/images/about-me_software_development.gif" width="600" height="600">
      </div>
      <div>
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Software Development</h5>
        <p class="text-sm leading-6 text-gray-700 dark:text-gray-400">
          Designing and implementing innovative software solutions that seamlessly integrate cutting-edge
          technologies to deliver exceptional functionality and user experience.
        </p>
      </div>
    </div>
  </div>

</div>
