<div class="animate-fadeInOut mr-3.5">

  <!-- Navigation Header -->
  <div>
    <h2 class="text-4xl font-semibold pl-10 pt-10 pr-10 pb-3 -mt-14 max-nav-limit:-mt-4 select-none">Projects</h2>
    <div class="w-12 h-2 ml-10 mb-3.5 rounded-full bg-cyan-500"></div>
  </div>

  <!-- Navigation Bar -->
  <div *ngIf="showDropdown(); else dropDown" class="p-6 ml-2.5">
    <nav class="">
      <ul class="flex flex-row lx:justify-start">
        <div *ngFor="let tab of projectTabs">
          <li>
            <a [routerLink]="[tab.id]" routerLinkActive="project-tab-active" class="text-2xs p-3.5">{{tab.name}}</a>
          </li>
        </div>
      </ul>
    </nav>
  </div>

  <!-- Dropdown List -->
  <ng-template #dropDown>
    <div class="flex flex-row justify-center mt-4">
    <p-dropdown [options]="projectTabs" [(ngModel)]="selectedTab" optionLabel="name" styleClass="projects-drop-down" (onChange)="onDropDownChange()"></p-dropdown>
    </div>
  </ng-template>

  <router-outlet></router-outlet>
</div>
