<div class="animate-fadeInOut">
  <div> Projects Content </div>
  <div> Projects Content </div>
  <div> Projects Content </div>
  <div> Projects Content </div>
  <div> Projects Content </div>
  <div> Projects Content </div>
  <div> Projects Content </div>
  <div> Projects Content </div>
  <div> Projects Content </div>
  <div> Projects Content </div>
  <div> Projects Content </div>
  <div> Projects Content </div>
  <div> Projects Content </div>
  <div> Projects Content </div>
  <div> Projects Content </div>
  <div> Projects Content </div>
  <div> Projects Content </div>
  <div> Projects Content </div>
  <div> Projects Content </div>
  <div> Projects Content </div>
  <div> Projects Content </div>
  <div> Projects Content </div>
</div>
