<div class="animate-fadeInOut">
  <div> Contact Content </div>
  <div> Contact Content </div>
  <div> Contact Content </div>
  <div> Contact Content </div>
  <div> Contact Content </div>
  <div> Contact Content </div>
  <div> Contact Content </div>
  <div> Contact Content </div>
  <div> Contact Content </div>
  <div> Contact Content </div>
  <div> Contact Content </div>
  <div> Contact Content </div>
  <div> Contact Content </div>
  <div> Contact Content </div>
  <div> Contact Content </div>
  <div> Contact Content </div>
  <div> Contact Content </div>
  <div> Contact Content </div>
  <div> Contact Content </div>
  <div> Contact Content </div>
  <div> Contact Content </div>
  <div> Contact Content </div>
</div>
