<div class="animate-fadeInOut mr-3.5 mb-8">

  <!-- Navigation Header -->
  <div>
    <h2 class="text-4xl font-semibold pl-10 pt-10 pr-10 pb-3 -mt-14 max-nav-limit:-mt-4 select-none">Contact</h2>
    <div class="w-12 h-2 ml-10 mb-3.5 rounded-full bg-cyan-500"></div>
  </div>

  <div> <!-- Form Header -->
    <h2 class="text-2xl font-semibold mt-6 ml-10 select-none">Contact Form</h2>
  </div> <!-- End of Form Header -->

  <div> <!-- Contact Form -->
    <form [formGroup]="contactForm" class="p-5">

      <div class="flex flex-col">
        <div class="ml-5 nav-limit:flex nav-limit:flex-row nav-limit:justify-between"> <!-- Name and Email Input Container -->
          <div>
            <span class="p-float-label">
              <input type="text" id="float-input-name" pInputText formControlName="name" class="contact-form-input mr-10"/>
              <label for="float-input-name" class="area-float">Full Name</label>
            </span>
          </div>

          <div class="max-nav-limit:mt-7">
            <span class="p-float-label">
              <input type="text" id="float-input-email" pInputText formControlName="email" class="contact-form-input mr-10"/>
              <label for="float-input-email" class="area-float">Email Address</label>
            </span>
          </div>
        </div> <!-- End of Name and Email Input Container -->

        <div class="mt-8 ml-5">
          <span class="p-float-label">
            <textarea [autoResize]="false" id="float-input-area" pInputTextarea formControlName="message" class="contact-form-text-area"></textarea>
            <label for="float-input-area" class="area-float">Your Message</label>
          </span>
        </div>
      </div>
    </form>

    <div class="flex flex-row justify-end">
      <p-button class="send-message-btn mr-12" label="Send Message" icon="pi pi-send" [loading]="loading" (click)="onConfirm()"></p-button>
    </div>
  </div> <!-- End of Contact Form -->

<p-toast></p-toast>
<p-confirmDialog class="message-confirm-dialog"></p-confirmDialog>


</div>
