<!-- App Component HTML -->
<div class="text-white font-body grid lx:grid-cols-5 lx:ml-28 lx:gap-40 animate-fadeInOut"> <!-- App Container -->
  <app-profile class="sm:ml-28 sm:w-8/12  md:ml-32 md:w-9/12 lg:ml-20 lg:w-10/12 lx:mx-10 lx:fixed lx:col-span-1 lx:w-72 lx:ml-8 transition-all duration-1000 ease-in-out animate-fadeInOut"></app-profile>
  <app-content-layout class="mt-8 sm:ml-28 sm:w-8/12 md:ml-32 md:w-9/12 lg:ml-20 lg:w-10/12 lx:mx-10 lx:col-start-2 lx:col-span-4 lx:mt-14 lx:ml-14 lx:mr-40 mb-16 transition-all duration-1000 ease-in-out animate-fadeInOut"></app-content-layout>
  <p-scrollTop styleClass="appScrollTop"></p-scrollTop>
</div>
