<!-- All Projects Component HTML -->
<div class="bg-mirage-gray rounded-3xl ml-2.5 mb-10"> <!-- Outer Container -->
  <div class="grid grid-cols-3 max-nav-limit:grid-cols-1 max-nav-limit:justify-items-center ml-5 mb-3.5"> <!-- Card Container -->
    <p-card header="ELBNB" subheader="Student Accommodation and Lodging System" styleClass="project-card">
      <ng-template pTemplate="header">
        <img class="hover:scale-125 transition duration-1000 ease-in-out" alt="Project" ngSrc="assets/images/default-project-image.png" width="50" height="150">
      </ng-template>
      <p class="text-sm">
        A web application that allows students to find accommodation and lodging within or outside the campus of University of the Philippines Los Baños.
      </p>
    </p-card>
    <p-card header="ELBNB" subheader="Student Accommodation and Lodging System" styleClass="project-card">
      <ng-template pTemplate="header">
        <img class="hover:scale-125 transition duration-1000 ease-in-out" alt="Project" ngSrc="assets/images/default-project-image.png" width="50" height="150">
      </ng-template>
      <p class="text-sm">
        A web application that allows students to find accommodation and lodging within or outside the campus of University of the Philippines Los Baños.
      </p>
    </p-card>
  </div>
</div> <!-- End of Outer Container -->
