<div class="animate-fadeInOut">
  <div> Resume Content </div>
  <div> Resume Content </div>
  <div> Resume Content </div>
  <div> Resume Content </div>
  <div> Resume Content </div>
  <div> Resume Content </div>
  <div> Resume Content </div>
  <div> Resume Content </div>
  <div> Resume Content </div>
  <div> Resume Content </div>
  <div> Resume Content </div>
  <div> Resume Content </div>
  <div> Resume Content </div>
  <div> Resume Content </div>
  <div> Resume Content </div>
  <div> Resume Content </div>
  <div> Resume Content </div>
  <div> Resume Content </div>
  <div> Resume Content </div>
  <div> Resume Content </div>
  <div> Resume Content </div>
  <div> Resume Content </div>
</div>
