<!-- Navigation Component HTML -->
<div class="bg-gray-container max-nav-limit:bg-opacity-70 w-max ml-auto max-nav-limit:border max-nav-limit:rounded-tl-3xl max-nav-limit:border-gray-500 max-nav-limit:w-full max-nav-limit:overflow-hidden max-nav-limit:fixed max-nav-limit:-bottom-1.5 max-nav-limit:left-0 md:rounded-tr-3xl nav-limit:rounded-bl-3xl max-md:rounded-t-3xl">
  <nav class="p-5 max-nav-limit:backdrop-blur-sm">
    <ul class="flex flex-row lx:justify-end max-lx:justify-center">
      <div *ngFor="let tab of navTabs">
        <li>
          <a [routerLink]="['/'+tab.id]" [ngClass]="{'active': isActive(tab.name)}" (click)="changeTab(tab.name)" class="navtab">{{tab.name}}</a>
        </li>
      </div>
    </ul>
  </nav>
</div>
