<!-- All Projects Component HTML -->
<div class="bg-mirage-gray rounded-3xl ml-2.5 mb-10"> <!-- Outer Container -->

  <div *ngIf="activatedRoute=='all'; else filteredCards"> <!-- All Project Cards -->
    <div class="grid grid-cols-3 max-nav-limit:grid-cols-1 max-nav-limit:justify-items-center ml-5 mb-3.5"> <!-- Card Container -->
      <div *ngFor="let project of projects">
        <p-card [header]="project.header" [subheader]="project.subheader" styleClass="project-card">
          <ng-template pTemplate="header">
            <a class="cursor-pointer" [href]="project.link" target="_blank">
              <img class="hover:scale-125 transition duration-1000 ease-in-out" alt="Project" [ngSrc]="project.image" width="50" height="150">
            </a>
          </ng-template>
          <p class="text-sm -mt-2">
            {{project.description}}
          </p>
        </p-card>
      </div>
    </div>
  </div> <!-- End of All Project Cards -->

  <ng-template #filteredCards> <!-- Filtered Project Cards -->
    <div class="grid grid-cols-3 max-nav-limit:grid-cols-1 max-nav-limit:justify-items-center ml-5 mb-3.5"> <!-- Card Container -->
      <div *ngFor="let project of filteredProjects">
        <p-card [header]="project.header" [subheader]="project.subheader" styleClass="project-card">
          <ng-template pTemplate="header">
            <a class="cursor-pointer" [href]="project.link" target="_blank">
              <img class="hover:scale-125 transition duration-1000 ease-in-out" alt="Project" [ngSrc]="project.image" width="50" height="150">
            </a>
          </ng-template>
          <p class="text-sm -mt-2">
            {{project.description}}
          </p>
        </p-card>
      </div>
    </div>
  </ng-template> <!-- End of Filtered Project Cards -->
</div> <!-- End of Outer Container -->
